/* This CSS file is created for you to create or override any of the existing CSS styles used in this theme */
.posts-default .entry-meta { display: none; }

body {background-color: #FAFAFA;}

/* Featured slideshow */

#featured-slideshow {width:520px; height:240px;}
#featured-slideshow-inner {width:520px; height:240px;}

/* Featured slideshow - bottom margin */

.featured {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* Featured article fix for ads */

#featured-slideshow  {position:absolute;}

/* Main Wrapper - Spacing */

#wrapper {
    min-height: 100%;
    padding: 6px 0;
    position: relative;
	}

/* Entry title spacing */

.entry-title {
	font-size: 13px;
    line-height: 1.1em;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}
/* Header - less space */

.blog-description {
    line-height: 1em;
    display: block;
    margin: 0;
    padding: 0px 0 0;
}

.logo {
    padding: 10px 0 25px 10px;
}

/* Posts default spacing */

.posts-default li {
	line-height: 1.1em;
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 13px;
    margin-top: 0;
	}

.posts-default {
	line-height: 1.1em;
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;

}

/* Home page titles */

.home-title {
    border-bottom-color: #DDDDDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 0;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    text-transform: uppercase;
    text-align: center;

}

.entry-title {
	text-transform: uppercase;

}

/* Game container */

#gamediv {position: relative; width: 800px; height: 600px; padding-bottom:5px; margin: 0px auto;}
#gamediv-640x480 {position: relative; width: 640px; height: 480px; padding-bottom:5px; margin: 0px auto;}
#gamediv-650x530 {position: relative; width: 650px; height: 530px; padding-bottom:5px; margin: 0px auto;}
#gamediv-600x600 {position: relative; width: 600px; height: 400px; padding-bottom:5px; margin: 0px auto;}
#gamediv-555x550 {position: relative; width: 555px; height: 550px; padding-bottom:5px; margin: 0px auto;}
#gamediv-360x600 {position: relative; width: 360px; height: 600px; padding-bottom:5px; margin: 0px auto;}

/* Layout, column width */

#main {padding: 5px; margin-bottom: 0; margin-left: auto; margin-right: auto; margin-top: 0; position: relative; width: 1020px;}
#content {margin: 0; margin-right: 0; overflow: hidden; width: 840px;}
#container {margin: 0; margin-right: 0; overflow: hidden; width: 840px;}
.main-aside {float: right; position: relative; width: 180px;}


/* Ads */
#ads_header_home_720px {margin-top: 10px; margin-bottom: 0px; width: 742px; height: 102px; border-style:solid; border-width:0px; margin-left: auto; margin-right: auto; position: relative;}
#ads_header_home_970px {margin-top: 10px; margin-bottom: 0px; width: 984px; height: 102px; border-style:solid; border-width:0px; margin-left: auto; margin-right: auto; position: relative;}
#ads_header_games {margin-top: 10px; margin-bottom: 0px; width: 628px; height: 264px; border-style:solid; border-width:0px; margin-left: auto; margin-right: auto; position: relative;}
#left_banner {width: 300px; height: 250px; border-style:solid; border-width:1px; border-color: #C0C0C0; float: left; padding: 4px}
#right_banner {width: 300px; height: 250px; border-style:solid; border-width:1px; border-color: #C0C0C0; float: right; padding: 4px}
#top_banner_720px {width: 728px; height: 90px; border-style:solid; border-width:1px; border-color: #C0C0C0; margin-left: auto; margin-right: auto; padding: 4px}
#top_banner_970px {width: 970px; height: 90px; border-style:solid; border-width:1px; border-color: #C0C0C0; margin-left: auto; margin-right: auto; padding: 4px}
#home_banner {width: 300px; height: 250px; border-width: 0px; position: relative; float: right;}
#bottom_banner_wrapper {width: 834px; height: 109px; border-width:3px; border-color:#000000; margin-left: auto; margin-right: auto;}
#bottom_banner {width: 728px; height: 90px; border-style:solid; border-width:1px; border-color: #C0C0C0; margin-left: auto; margin-right: auto; padding: 4px}

/* Thumbnails position */

img.size-thumbnail {float: right; padding-top: 15px; padding-left: 15px;}

/* Footer width */
#footer {width: 1030px;}

/* Facebook Comments */
#facebook-comments {width: 820px; height: 100%; margin: 5px; padding: 0px;}

/* Under Game Tags */
#main .single .post .tags, #main .single-post .tags {margin: 3px 0; padding: 3px 0 0;}

/* Under Game Description */
.entry-content  {margin: 3px 0; font-size: 16px; line-height: 1.3em; overflow: hidden;}
#gamedescription {margin-top: 10px;}

/* Search Engine */
#searchbar  {margin: 64px 0 0;}

/* sidebar */
.widgetcontainer		{ border: solid #CCC; border-width: 1px; background: repeat-x #FFF; line-height: 1.0em; }

/* Main Menu 880px wide */

#nav .sf-menu {float: left; line-height: 1.1; max-width: 880px;}

/* Link Decoration */
#gamedescription a {text-decoration: underline dotted}
